body {
    margin-top: 2em;
    grid-template-areas: "aibot output output"
                          "aibot greenBtn redBtn";
    }

#output{

     grid-area: output;
     display: grid;
     --auto-grid-min-size: 10rem;
     grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
   grid-gap: 1rem;
    

    }

h3{
    z-index: 2;
    position: absolute;
    margin: auto;
}

.card{
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paper{
    max-width: 100%;
    height: auto;
  }
