body {
  background-color: #ffde59;
  display: grid;
  margin-top: 4em;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 4fr 1.5fr 5fr;
  grid-template-areas: "aibot h1"
                        "aibot h2"
                        "aibot btn";
}

#aibot_img {
  grid-area: aibot;
  height: 45em;
  margin: auto;
  margin-right: 0;
  margin-bottom: 0;
}

h1, h2, button {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1 {
  grid-area: h1;
  font-size: 5em;
  font-weight: 800;
}

h2 {
  grid-area: h2;
  font-size: 2em;
  font-weight: 400;
}

button {
  grid-area: btn;
  background-color: #ff443a;
  color: white;
  width: 13rem;
  height: 4.5rem;
  margin: auto;
  margin-top: 0;
  border-radius: 3rem;
  border: none;
  font-size: 1.5rem;
}

@media only all and (max-width: 55em){
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr 1fr 1fr;

  }

  h1 {
    grid-row-start: 1;
  }

  #aibot_img {
    margin: auto;
  }
}
