body {
  grid-template-columns: 3fr 2fr;
  grid-template-rows: .1fr 1fr 1fr;
  grid-template-areas: "webcam h1"
                        "webcam redBtn"
                        "aibot aibot ";
 margin-bottom: 0;
 padding-top: 3em;
}

.aibot_img {
  height: 10rem;
  margin: auto;
  margin-bottom: 0;
}
.redBtn{
  margin: auto;
}

#captureBtn {
  z-index: 2;
  height: 3.2em;
  width: 3.2em;
}

#icon {
  z-index: 3;
  height: 2em;
}

#webcam, #canvas, #download-photo, #captureBtn {
  grid-area: webcam;
  margin: auto;
  margin-bottom: 0;
}

#captureBtn{
  margin-bottom: .5em;
}
